.navbar .navbar-brand {
    color: #44d9e6 !important;
}

.huda {
    opacity: 0;
}

.btn-primary {
    background-color: #44d9e6 !important;
    border: 1px #3abbc7 !important;
}

.text-primary {
    color: #44d9e6 !important;
}

.bg-primary-dua {
    background-color: #44d9e6 !important;
}